@import "./settings";
@import "./mixins";
@import "./editor";

:global {
    .CodeMirror {
        display: flex;
        flex-direction: column;
        height: auto !important;

        @extend %editor;
        background: $color-editor-background !important;
        background: var(--color-editor-background, $color-editor-background) !important;
    }

    .CodeMirror-focused {
        @extend %editor-focused;
    }

    .CodeMirror-gutters {
        main[data-theme="dark"] & {
            background-color: inherit !important;
        }

        main[data-theme="light"] & {
            background-color: $color-background-darker-1 !important;
        }

        border-right: 1px solid $color-border !important;
        border-right: 1px solid var(--color-border, $color-border) !important;
    }

    .CodeMirror-linenumber {
        color: $color-text-lower-contrast !important;
        color: var(--color-text-lower-contrast, $color-text-lower-contrast) !important;

        main[data-theme="light"] & {
            color: #999 !important;
        }
    }

    .CodeMirror-selected {
        @include variable(background-color, --color-primary-light-2, $color-primary-light-2, "!important");
    }

    .react-codemirror2 {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
}
