@import "./settings";

:global {
    .CodeMirror-gutters {
        background-color: $color-background-light;
        border-color: $color-border-light;
    }

    .CodeMirror-selected {
        background-color: lighten($color-primary, 20%) !important;
    }

    .react-codemirror2 {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
}
