@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/content.sass";

main {
  height: 100vh;
}

.columns {
  display: flex;
  height: 100%;

  > * {
    flex: 1;
    overflow-y: scroll;
  }
}

.notebooks, .notes {
  max-width: 10%;
  min-width: 200px;

  background: #fbfbfb;
  border-right: 1px solid darken(#fbfbfb, 5%);

  transition: min-width 250ms, max-width 250ms;

  &.hidden {
    max-width: 0;
    min-width: 0;
    border-right: 0;
  }

  li {
    cursor: pointer;
    padding: 0.25rem 0.75rem;
    border-bottom: 1px solid darken(#fbfbfb, 5%);

    &:hover {
      background: darken(#fbfbfb, 2%);
    }

    &.selected {
      background-color: rgb(91, 136, 239);
      color: #fff;
    }
  }
}

.notebooks {
  li { 
    display: flex;
  }

  .notebooks__list_name {
    flex: 1;
  }

  .notebooks__list__note-count {
    align-self: flex-end;
    flex: 0;
  }
}

.editor {
  flex: 2;
  padding: 0 0.75rem;

  .note-title {
    margin: 0.5em 0;
    padding-bottom: 0.25em;
    border-bottom: 1px solid darken(#fbfbfb, 5%);
  }
}