@import "../styles/settings";

.wrapper {
    position: relative;
}

.languageSelector {
    position: absolute;
    top: 0;
    right: 4px;
    z-index: 10;
    cursor: pointer;

    appearance: none;
    border: none !important;
    background: darken($color-background-light, 5%);
    border-bottom: 1px solid darken($color-background-light, 10%);
    border-radius: $border-radius;
    font-size: 0.75em;

    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }
}

