$editor-padding: 0.75rem;

.editor {
  flex: 2;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  .note-title {
    margin: 0.5em 0;
    padding: 0 $editor-padding 0.25em;
    border-bottom: 1px solid darken(#fbfbfb, 5%);
    color: #000;
  }

  :global(.content) {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & > div {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    ul {
      margin: 0;
    }
  }

  trix-editor {
    overflow-y: scroll;
    border: 1px solid transparent;
    margin: 0 $editor-padding $editor-padding;
    min-height: 2em;

    &:focus {
      border-color: darken(#fbfbfb, 5%);
    }

    > :last-child {
      margin-bottom: 0.5em;
    }
  }

  trix-toolbar {
    border-bottom: 1px solid darken(#fbfbfb, 5%);
    margin-bottom: 0.5em;
    padding: 0 $editor-padding;

    :global(.trix-button-group) {
      margin-bottom: 0.5em;
    }

    :global(.trix-button.trix-active) {
        background: #EBEDF0;
    }
  }
}
