@import "../styles/settings";
$editor-padding: 0.75rem;

.editor {
  flex: 2;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  .note-title {
    margin: 0.5em 0;
    padding: 0 $editor-padding;

    color: inherit;
    line-height: inherit;
    font-size: 1em;
    border: none;
    border-bottom: 1px solid $color-border-light;
  }

  :global(.content) {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    h1 {
      font-weight: bold;
    }

    ul {
      list-style-type: disc;
      list-style-position: outside;
    }

    ol {
      list-style-type: decimal;
      list-style-position: outside;
    }

    ul ul, ol ul {
      list-style-type: circle;
      list-style-position: outside;
    }

    ol ol, ul ol {
      list-style-type: lower-latin;
      list-style-position: outside;
    }
  }

  trix-editor, :global(.CodeMirror) {
    margin: 0 $editor-padding;
    border: 1px solid transparent;
  }

  trix-editor:focus, :global(.CodeMirror-focused) {
      border-color: $color-border-light;
  }

  trix-editor {
    overflow-y: scroll;
    padding-bottom: 0;
    min-height: 3em;

    > :last-child {
      margin-bottom: 0.5em;
    }
  }

  :global(.trix-wrapper) {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  trix-toolbar {
    border-bottom: 1px solid $color-border-light;
    margin-bottom: 0.5em;
    padding: 0 $editor-padding;

    :global(.trix-button-group) {
      margin-bottom: 0.5em;
    }

    :global(.trix-button.trix-active) {
        background: #EBEDF0;
    }
  }

  :global {
    .CodeMirror {
        height: auto;
    }
  }
}

.contentBlock {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  margin-bottom: 0.5em;
  position: relative;
}

.typeSelector {
  position: absolute;
  top: 0.25rem;
  right: 1rem;
  z-index: 10;
  cursor: pointer;
  flex-shrink: 0;

  padding: .2rem;

  appearance: none;
  border: none !important;
  background: darken($color-background-light, 5%);
  border-bottom: 1px solid darken($color-background-light, 10%);
  border-radius: $border-radius;
  font-size: 0.75em;
  text-align: center;

  &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
  }

  :global(.text) & {
    top: 3rem;
  }
}
