@import "../styles/colors";

.toast {
  background: #202124;
  color: #fff;
  padding: .75em 1em;

  position: absolute;
  right: 0;
  bottom: 0;

  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
    0 4px 8px 3px rgba(60, 64, 67, 0.149);
  border-radius: 4px;
  margin: 0.75rem;

  display: flex;
  align-items: center;

  p {
    margin: 0 1.5em 0 0;
  }
}

.action, .close {
  display: flex;
  align-items: center;
  flex: 1;
  height: 1.5em;

  appearance: none;
  background: none;
  border: none;
  outline: none;
  color: lighten($color-primary, 10%);
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  padding: .2em .5em;

  svg {
    path {
      fill: #AEAFAF;
    }
  }

  &:hover {
    background: rgba(#AEAFAF, 0.1);
    border-radius: 4px;
  }
}
