@import "minireset.css/minireset.sass";
@import "./styles/codemirror";
@import "./styles/settings";

html, body, :global(#root) {
  height: 100%;
  overflow: hidden;
}

html {
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

body, button, input, select, textarea {
  font-family: system, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: inherit;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

:focus {
  outline:none;
}
::-moz-focus-inner {
  border:0;
}

small {
  font-size: .875em;
}

.main {
  height: 100vh;
  @include variable(background, --color-background, $color-background);
  @include variable(color, --color-text, $color-text);
}

main[data-theme="dark"] {
  --color-background: #{$theme-dark-color-background};
  --color-background-darker-1: #{$theme-dark-color-background-darker-1};
  --color-background-darker-2: #{$theme-dark-color-background-darker-2};
  --color-editor-background: #{$theme-dark-color-editor-background};
  
  --color-border: #{$theme-dark-color-border};
  --color-border-darker-1: #{$theme-dark-color-border-darker-1};
  --color-text: #{$theme-dark-color-text};
  --color-text-lower-contrast: #{$theme-dark-color-text-lower-contrast};
  --color-button-bar-item-fill: #{$theme-dark-color-button-bar-item-fill};
}

.columns {
  display: flex;
  height: 100%;

  > * {
    flex: 1;
    overflow-y: scroll;
  }
}
