@import "minireset.css/minireset.sass";
@import "styles/codemirror";

html, body, :global(#root) {
  height: 100%;
  overflow: hidden;
}

html {
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

body, button, input, select, textarea {
  font-family: system, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: inherit;
}

body {
  color: $color-text;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

:focus {
  outline:none;
}
::-moz-focus-inner {
  border:0;
}

small {
  font-size: .875em;
}

.main {
  height: 100vh;
}

.columns {
  display: flex;
  height: 100%;

  > * {
    flex: 1;
    overflow-y: scroll;
  }
}
