@import "../styles/settings";
@import "../styles/mixins";


.listView {
  @media print {
    display: none !important;
  }

  display: flex;
  flex-direction: column;
  max-width: 10%;
  min-width: 200px;

  background: $color-background-light;
  border-right: 1px solid $color-border-light;

  transition: min-width 250ms, max-width 250ms;

  &.hidden {
    max-width: 0 !important;
    min-width: 0 !important;
    border-right: 0;
  }

  ul {
    overflow-y: auto;
    flex: 1;
  }

  li {
    display: flex;
    cursor: pointer;
    padding: 0.25rem 0.75rem;
    border-bottom: 1px solid $color-border-light;

    & > * {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &:hover {
      background: darken($color-background-light, 2%);
    }

    &.selected {
      @include variable(background-color, --color-primary, $color-primary);
      color: #fff;
    }
  }
}

.itemContentWrapper {
  display: flex;
  flex: 1;
}

.title {
    flex: 1;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.count {
    align-self: flex-end;
    flex: 0;
}

.footer {
  display: flex;

  button {
    margin-left: auto;
  }

  margin-top: auto;
  padding: 0 0.5rem;

  border-top: 1px solid $color-border-light;
  box-shadow: 0px 0px 1px rgba(0,0,0,.1);
}
