@import "../styles/settings";
@import "../styles/mixins";


.listView {
  @media print {
    display: none !important;
  }

  display: flex;
  flex-direction: column;
  max-width: 10%;
  min-width: 200px;

  @include variable(background, --color-background-darker-1, $color-background-darker-1);
  border-right: 1px solid $color-border;
  @include variable(border-right-color, --color-border, $color-border);

  transition: min-width 250ms, max-width 250ms;

  &.hidden {
    max-width: 0 !important;
    min-width: 0 !important;
    border-right: 0;
  }

  ul {
    overflow-y: auto;
  }

  li {
    display: flex;
    cursor: pointer;
    padding: 0.25rem 0.75rem;

    border-bottom: 1px solid $color-border;
    @include variable(border-bottom-color, --color-border, $color-border);

    svg {
      width: 18px;
      height: 18px;

      margin-right: 0.25em;

      @include variable(fill, --color-text, $color-text);
    }

    & > * {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &:hover {
      @include variable(background, --color-background-darker-2, $color-background-darker-2);
    }

    &.selected {
      @include variable(background-color, --color-primary, $color-primary);
      color: #fff;

      svg {
        fill: #fff;
      }
    }
  }
}

.itemContentWrapper {
  display: flex;
  flex: 1;
}

.title {
    flex: 1;
    display: flex;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    align-items: center;
}

.count {
    align-self: flex-end;
    flex: 0;
}

.footer {
  display: flex;

  button {
    margin-left: auto;
  }

  margin-top: auto;
  padding: 0 0.5rem;
  min-height: 33px;

  border-top: 1px solid $color-border;
  @include variable(border-top-color, --color-border, $color-border);

  box-shadow: 0px 0px 1px rgba(0,0,0,.1);
}
