@import "../styles/settings";
$editor-padding: 0.75rem;

.editor {
  flex: 2;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  .note-title {
    margin: 0.5em 0 0.75rem;
    padding: 0 $editor-padding 0.25em;

    color: inherit;
    line-height: inherit;
    font-size: 1em;
    border: none;
    border-bottom: 1px solid $color-border-light;
  }
}

.content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.contentBlock {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  margin-bottom: 0.5em;
  position: relative;
  padding: 0 $editor-padding;
}

.typeSelector {
  position: absolute;
  top: 0.25rem;
  right: 1rem;
  z-index: 10;
  cursor: pointer;
  flex-shrink: 0;

  padding: .2rem;

  appearance: none;
  border: none !important;
  background: darken($color-background-light, 5%);
  border-bottom: 1px solid darken($color-background-light, 10%);
  border-radius: $border-radius;
  font-size: 0.75em;
  text-align: center;
  text-align-last: center;
  color: inherit;

  &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
  }
}

@media print {
  .typeSelector {
    display: none !important;
  }

  .note-title {
    font-size: 1.5em !important;
    font-weight: bold !important;
    border-bottom: none !important;
  }

  .contentBlock {
    padding: 0 !important;
  }
}
