@import "../styles/settings";

.syncState {
  display: flex;
  align-items: center;

  color: $color-text;
  color: var(--color-text, $color-text);

  font-size: .9rem;
  transition: opacity 5s ease-out;

  svg {
    height: 55%;

    path {
      fill: $color-text;
      fill: var(--color-text, $color-text);
    }
  }
}

.complete {
  opacity: 0.5;
}
