@import "../styles/settings";

$text-color: rgba(0, 0, 0, .6);

.syncState {
  display: flex;
  align-items: center;

  color: $text-color;
  font-size: .9rem;
  transition: opacity 5s ease-out;

  svg {
    height: 55%;

    path {
      fill: $text-color;
    }
  }
}

.complete {
  opacity: 0.5;
}
